.wrapper {
  display: block;
  margin: 0 auto;
  width: 1280px;
  position: relative;
}

.swiper {
  width: 1094px;
  height: 508px;
}

.swiper-slide {
  background-color: #1f212d;
  color: #f6f5ef;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*  
.swiper-button-prev,
.swiper-button-next {
  bottom: 50%;
}
*/
.swiper-button-prev {
  left: 32px;
}

.swiper-button-next {
  right: 32px;
}
