.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  outline: 0;
  outline-offset: 0;
}

/* Yacht Block */

.wrapper {
  margin: 0 auto;
  width: 375px;
  position: relative;
}

.swiper {
  width: 335px;
  height: 469px;
}

.swiper-slide {
  background-color: #1f212d;
  color: #f6f5ef;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev {
  display: flex;
  flex-direction: row-reverse;
  left: 134px;
}

.swiper-button-next {
  right: 134px;
}

.swiper-button-prev,
.swiper-button-next {
  top: 493px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 768px;
  }

  .swiper {
    width: 704px;
    height: 508px;
  }

  .swiper-button-prev {
    left: 326px;
  }

  .swiper-button-next {
    right: 326px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: 540px;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    width: 1280px;
  }

  .swiper {
    width: 1094px;
  }

  .swiper-button-prev {
    left: 32px;
  }

  .swiper-button-next {
    right: 32px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: 50%;
  }
}

/* Reviews Block */
